{% extends 'Quiz/dependencies.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>{{ question.question }}</h1>

    <form method="post">
        {% csrf_token %}
        
        <!-- Display the options -->
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" value="option1" id="option1">
            <label class="form-check-label" for="option1">{{ question.op1 }}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" value="option2" id="option2">
            <label class="form-check-label" for="option2">{{ question.op2 }}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" value="option3" id="option3">
            <label class="form-check-label" for="option3">{{ question.op3 }}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" value="option4" id="option4">
            <label class="form-check-label" for="option4">{{ question.op4 }}</label>
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
